<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Naruto Apps</title>
    <style>
        body {
            background-image: url('https://www.kindpng.com/picc/m/545-5457593_naruto-shippuden-naruto-characters-transparent-background-hd-png.png');
            background-size: cover;
        }

        h1,
        h2 {
            text-align: center;
            color: yellow;
            text-shadow: 2px 2px #000;
        }

        a {
            display: block;
            text-align: center;
            color: black;
            text-decoration: none;
            margin-top: 20px;
        }

        form {
            text-align: center;
            margin: 0 auto;
            width: 300px;
            background-color: rgba(255, 255, 255, 0.8);
            padding: 20px;
            border-radius: 20px;
            box-shadow: 2px 2px #000;
        }

        label {
            color: #333;
            display: block;
            margin-bottom: 5px;
        }

        input[type="text"],
        input[type="password"] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
            border: 2px solid #ccc;
            border-radius: 4px;
        }

        button[type="submit"] {
            width: 100%;
            background-color: orange;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        button[type="submit"]:hover {
            background-color: #45a049;
        }
    </style>
</head>

<body>
    <h1>Welcome to our Naruto App</h1>

    <a href="/">Go back to the home page</a>
    <h2>Log In the app</h2>
    <form action="/api/user/logInUser" method="post">
        <div>
            <label for="username">Username:</label>
            <input type="text" name="username" id="Username">
        </div>
        <div>

            <label for="password">Password:</label>
            <input type="password" name="password" id="Password">
        </div>
        <button type="submit">Log In</button>
    </form>
</body>

</html>
